@model IEnumerable<MvcOrnek.Models.Kitap>

@{
    ViewData["Title"] = "Index";
}

<h1>Kitap Listesi</h1>

<p>
    <a asp-action="KitapOlustur">Yeni Kitap Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kitapAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sayfaSayisi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kitapAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sayfaSayisi)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "KitapGuncelle", new { id = item.Id }) |
                @Html.ActionLink("Detay", "GetKitap", new {  id=item.Id }) |
                @Html.ActionLink("Sil", "KitapSil", new {  id=item.Id  /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
